<div class="whoweare parallax clearfix">
  <div class="contenido">
      <h2>Who We Are</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus dolorem ex totam nam iste, asperiores doloremque tempora dicta, unde, assumenda nesciunt minus esse ratione eveniet reiciendis numquam id nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit adipisci atque asperiores ad distinctio, optio iure mollitia velit incidunt delectus quia obcaecati dolor soluta voluptatum! A dolore delectus quam necessitatibus?</p>
  </div>
</div><!--Termina Technology-->

<div class="objetivos clearfix">
  <div class="contenedors">
      <h2>Mission</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quas, voluptatibus quae placeat dolorum qui similique rerum. Enim eligendi praesentium eius fugit sapiente aut quis, quae rem quam officia suscipit. Omnis quas, voluptatibus quae placeat dolorum qui similique rerum. Enim eligendi praesentium eius fugit sapiente aut quis, quae rem quam officia suscipit.</p>
  </div>

  <div class="contenedors">
      <h2>Vision</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quas, voluptatibus quae placeat dolorum qui similique rerum. Enim eligendi praesentium eius fugit sapiente aut quis,quae rem quam officia suscipit. Omnis quas, voluptatibus quae placeat dolorum qui similique rerum. Enim eligendi praesentium eius fugit sapiente aut quis, quae rem quam officia suscipit.</p>
  </div>
</div>

<section class="fundadores parallax">
  <div class="founders">
      <nav class="personas">
          <h2>Our Founders</h2>
          <ul>
              <li class="ceo">
                  <img src="sources/img/founders/serrano.jpg" alt="Eduardo Serrano Jaime">
                  <h3>Eduardo Serrano</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, error, alias odit qui voluptatibus voluptate aut placeat dolore officiis, culpa tenetur. Nostrum, officia praesentium corrupti odio error voluptates nemo voluptatibus!</p>
              </li>
              <li class="ceo">
                  <img src="sources/img/founders/gabriel.jpg" alt="Gabriel Alejandro Ballesteros Rodriguez">
                  <h3>Gabriel Ballesteros</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, error, alias odit qui voluptatibus voluptate aut placeat dolore officiis, culpa tenetur. Nostrum, officia praesentium corrupti odio error voluptates nemo voluptatibus!</p>
              </li>
              <li class="ceo">
                  <img src="sources/img/founders/emilio.jpg" alt="Luis Emilio Partida Contreras">
                  <h3>Emilio Partida</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, error, alias odit qui voluptatibus voluptate aut placeat dolore officiis, culpa tenetur. Nostrum, officia praesentium corrupti odio error voluptates nemo voluptatibus!</p>
              </li>
          </ul>
      </nav>
  </div><!--Termina personas-->
</section><!--Termina Fundadores-->

<div class="people clearfix">
  <h2>Our Work Team</h2>
  
  <div class="personal">
      <img src="sources/img/employee/serrano.jpg" alt="">
      <div>
          <h3>Eduardo Serrano</h3>
          <p>Founder & CEO</p>
      </div>
  </div>
  <div class="personal">
      <img src="sources/img/employee/gabriel.jpg" alt="">
      <div>
          <h3>Gabriel Ballesteros</h3>
          <p>Founder & CEO</p>
      </div>
  </div>
  <div class="personal">
      <img src="sources/img/employee/emilio.jpg" alt="">
      <div>
          <h3>Emilio Partida</h3>
          <p>Founder & CEO</p>
      </div>
  </div>
  <div class="personal">
      <img src="sources/img/employee/dustin.png" alt="">
      <div>
          <h3>Dustin Gallardo</h3>
          <p>Developer</p>
      </div>
  </div>
  <div class="personal">
      <img src="sources/img/employee/jahir.jpg" alt="">
      <div>
          <h3>Jahir Salazar</h3>
          <p>Graphic Desinger</p>
      </div>
  </div>
</div>