<div class="cases clearfix">
  <h2>Our Work</h2>
  <div class="case clearfix">
      <div class="cimagen">
          <a href="http://google.com" target="_blank">
              <img src="sources/img/cases/esg.png" alt="">
          </a>
      </div>
      <div class="ctext">
          <h3>ESG´s Web Site</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, eveniet sapiente temporibus corporis explicabo ut labore doloremque a tempora dicta eius quisquam, sit dolores, quod fugit voluptas saepe ducimus hic? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br>
          <p>A minus dolorem consequatur maiores atque laborum nostrum, sunt dicta, est nulla reprehenderit tenetur accusantium, delectus corporis. Quod excepturi voluptate perferendis quia?</p>
          <a href="" class="boton">Read More</a>
      </div>
  </div>
  <div class="case clearfix">
      <div class="cimagen">
          <a href="http://google.com" target="_blank">
              <img src="sources/img/cases/blog.jpeg" alt="">
          </a>
      </div>
      <div class="ctext">
          <h3>Blog</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, eveniet sapiente temporibus corporis explicabo ut labore doloremque a tempora dicta eius quisquam, sit dolores, quod fugit voluptas saepe ducimus hic? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br>
          <p>A minus dolorem consequatur maiores atque laborum nostrum, sunt dicta, est nulla reprehenderit tenetur accusantium, delectus corporis. Quod excepturi voluptate perferendis quia?</p>
          <a href="" class="boton">Read More</a>
      </div>
  </div>
</div>