<form class="contact parallax clearfix">
  <h2>Conctact Us</h2>
  <div class="info">
      <label for="">Full Name*</label>
      <input type="text" name="" id="name" placeholder="e.g. Eduardo Ballesteros Partida">
  </div>
  <div class="info">
      <label for="">Email*</label>
      <input type="text" name="" id="email" placeholder="e.g. esg.freelancers@gmail.com">
  </div>
  <div class="message">
      <label for="">Message*</label>
      <textarea name="" id="message" cols="30" rows="10" placeholder="e.g. I want to buy your company"></textarea>
  </div>
  <input type="button" value="Aceptar" class="boton" onclick="validar()">
</form>
<div class="ouroffice">
  <h2>Our Offices</h2>

  <div class="mapa">

  </div>
</div>