<header>
    <div class="hero parallax clearfix">
        <nav class="social-networks">
            <a href="https://www.facebook.com/ESG-Freelancers-871184076421339" target="_blank"><i class="fab fa-facebook-f facebook"></i></a>
            <a href="https://twitter.com/EsgFreelancers" target="_blank"><i class="fab fa-twitter twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCHsQ_isdGLTSyAqk2VDpBEQ" target="_blank"><i class="fab fa-youtube youtube"></i></a>
            <a href="https://www.instagram.com/esgfreelancers/" target="_blank"><i class="fab fa-instagram instagram"></i></a>
            <a href="https://github.com/ESG-FREELANCERS" target="_blank"><i class="fab fa-github github"></i></a>
        </nav>
        <h1>ESG Labs</h1>
        <p>We can code anything</p>
    </div>
</header><!--Header-->
<div class="servicios clearfix" id="servicios">
    <nav class="service-list clearfix">
        <h2>Our Services</h2>
        <ul>
            <li class="service">
                <img src="sources/icos/code.svg" alt="Code">
                <h3>Web Applications</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quod nulla nesciunt, incidunt libero nihil sequi optio, tempore, iste cum perferendis ipsam. Doloribus quod dicta error dignissimos dolore odit eveniet?</p>
            </li>
            <li class="service">
                <img src="sources/icos/laptop-code.svg" alt="Laptop Code">
                <h3>Desktop Applications</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quod nulla nesciunt, incidunt libero nihil sequi optio, tempore, iste cum perferendis ipsam. Doloribus quod dicta error dignissimos dolore odit eveniet?</p>
            </li>
            <li class="service">
                <img src="sources/icos/mobile.svg" alt="Mobile">
                <h3>Mobile Applications</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quod nulla nesciunt, incidunt libero nihil sequi optio, tempore, iste cum perferendis ipsam. Doloribus quod dicta error dignissimos dolore odit eveniet?</p>
            </li>
        </ul>
    </nav>      
</div><!--Termina Servicios-->
<div class="technology parallax">
    <div class="contenido">
        <h2>Our Technologies</h2>
        <nav class="stack clearfix">
            <ul>
                <li><i class="fab fa-html5"></i></li>
                <li><i class="fab fa-css3-alt"></i></li>
                <li><i class="fab fa-js"></i></li>
                <li><i class="fab fa-php"></i></li>
                <li><i class="fab fa-sass"></i></li>
                <!--<li><i class="fab fa-node-js"></i></li>-->
            </ul>
        </nav>
    </div>
</div><!--Termina Technology-->